.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .info-container {
  max-width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.home .info-container .headshot {
  margin: 2em;
  max-width: 25%;
  border-radius: 50%;
  border: 0.5em solid #fff;
}

.home .info-container .info {
  display: block;
}

.home .info-container .links a {
  padding: 0.1em;
}
